.main-content {
  padding: 0 !important;
}

.labs .col-md-4 {
  padding-bottom: 30px;
}

.labs .card {
  padding: 0;
  height: 275px;
  position: relative;
}

.labs .card .content {
  padding: 30px;
  padding: 1.875rem;
  padding-bottom: 0;
}

.labs .card .actions,
.labs .card .links {
  position: absolute;
  text-align: center;
  width: 100%;
}

.labs .card .actions {
  display: none;
  bottom: -25px;
}

.labs .card .links {
  bottom: 10px;
}

.admin .labs .card .actions {
  display: block;
  color: #000;
}

.btn-admin {
  display: none;
}
.admin .btn-admin {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
}
.admin .actions .checkbox-inline input {
  margin: -7px 0 0 -15px;
}

.card .section-title {
  color: #FFF;
}

.card .meta {
  height: 40px;
  width: 100%;
}
.card .meta .icon,
.card .meta .version {
  display: inline-block;
  height: 100%;
}

.card .card--link {
  display: block;
  height: 85%;
}

.card .section-title,
.card .card--link,
.card {
  color: #fff;
}

.labs .band.labs {
  padding: 40px 0;
  padding: 1.3rem 0;
}

.inverse .card .section-title,
.inverse .card a.card--link,
.inverse .card {
  background: #fff;
  color: #252527;
}

.card .version-number {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 35.275px;
  line-height: 2.20469rem;
  text-transform: none;
  font-weight: 200;
}

.card .version * {
  color: #fff;
}

.inverse .card .version * {
  color: #999;
}

.card a.card--link:hover .lab-name {
  color: #428bca;
}

[class^="labs-icon-"] {
  font-size: 30px;
  font-weight: bold;
}

a.card--link {
  text-decoration: none;
}
