.card
  a.card--link(href='/labs/{{lab.lab_id}}/')
    .head
      div(class='labs-icon-{{lab.type}}')
      div.version
        strong v
        span.h2.section-title.version-number {{lab.version}}
    .content
      h2.section-title.lab-name {{lab.name}}
      p {{lab.description}}
  .links
    .col-md-6.col-border.col-border-right
      a(href='/labs/{{lab.lab_id}}/') Go to App
    .col-md-6.col-border.col-border-left
      a(href='/labsinfo/{{lab.lab_id}}/') More info
  .actions
    label.checkbox-inline
      input.featured(type='checkbox', ng-model='lab.featured')
      | Featured
    label.checkbox-inline
      input.mostviewed(type='checkbox', ng-model='lab.mostViewed')
      | Most Viewed
