.band.labs(mousetrap-keypress="keys")
  .container
    .hero
      p.headline.headline-white Labs
      p.strapline.strapline-white To help you use Red Hat products to their full potential, our engineers have developed a set of tools within Red Hat Access Labs to support customer success. 
            | Red Hat Access Labs is built on 
            a(href='https://access.redhat.com/products/openshift-enterprise-red-hat/') OpenShift Enterprise
            |, enabling continuous delivery and continuous innovation.
      p.strapline.strapline-white We invite you to try these tools and tell us what you think. As our customer community collaborates and offers feedback, 
        | these applications will grow and change quickly. Get started here with the featured labs below!
.band.inverse.featured-apps(ng-show='featured.length')
  .container
    .hero
      h2.section-title.section-title-red Featured Apps
      .row
        .col-md-4.col-sm-6.lab(ng-repeat='lab in featured track by lab.id')
          div(ng-include='"app/labs/views/_lab.html"')
.band.labs.band-white.most-viewed(ng-show='mostViewed.length')
  .container
    .hero
      h2.section-title.section-title-red Most Viewed Apps
      .row
        .col-md-4.col-sm-6.lab(ng-repeat='lab in mostViewed track by lab.id')
          div(ng-include='"app/labs/views/_lab.html"')
.band.labs.all-labs.inverse
  .container
    .row
      .col-xs-12
        .btn-group.pull-right.labs-filter(ng-class="!labTypeFilter ? 'unfiltered': ''")
          a.filter-reset(ng-class="!labTypeFilter ? 'hidden': ''") reset filters
          button.icon-config.btn-reset(ng-model='labTypeFilter', btn-radio='"config"', uncheckable='', ng-change='filterLabs()')
          button.icon-deploy.btn-reset(ng-model='labTypeFilter', btn-radio='"deploy"', uncheckable='', ng-change='filterLabs()')
          button.icon-security.btn-reset(ng-model='labTypeFilter', btn-radio='"security"', uncheckable='', ng-change='filterLabs()')
          button.icon-troubleshoot.btn-reset(ng-model='labTypeFilter', btn-radio='"troubleshoot"', uncheckable='', ng-change='filterLabs()')

        h2.section-title.section-title-red {{labsTitle}}
    .row
      .col-md-4.col-sm-6.lab.animate(ng-repeat='lab in labs | filter:labTypeFilter && {type: labTypeFilter} track by lab.id')
        div(ng-include='"app/labs/views/_lab.html"')

  .btn.btn-primary.btn-admin.btn-lg(ng-disabled='!isAdmin', ng-click='updateLabs()')
    | SAVE
