@font-face {
  font-family: 'labs-home';
  src:url('../assets/fonts/labs-home.eot?-qvs8ao');
  src:url('../assets/fonts/labs-home.eot?#iefix-qvs8ao') format('embedded-opentype'),
  url('../assets/fonts/labs-home.woff?-qvs8ao') format('woff'),
  url('../assets/fonts/labs-home.ttf?-qvs8ao') format('truetype'),
  url('../assets/fonts/labs-home.svg?-qvs8ao#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.labs-home {
  [class^="icon-"], [class*=" icon-"], [class^="labs-icon-"], [class*=" labs-icon-"] {
    font-family: 'labs-home';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  [class^="labs-icon-"]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'labs-home', sans-serif;
    font-weight: normal;
  }
}

.labs-icon-configuration:before, .icon-config:before {
  content: "\e5f9";
  color: #3f9c35;
}
.labs-icon-deployment:before, .icon-deploy:before {
  content: "\e601";
  color: #0085cf;
}
.labs-icon-troubleshooting:before, .icon-troubleshoot:before {
  content: "\e603";
  color: #ec7a08;
}
.labs-icon-security:before, .icon-security:before {
  content: "\e602";
  color: #cc0000;
}

