@font-face {
  font-family: 'labs-home';
  src:url('../assets/fonts/labs-home.eot?-qvs8ao');
  src:url('../assets/fonts/labs-home.eot?#iefix-qvs8ao') format('embedded-opentype'),
  url('../assets/fonts/labs-home.woff?-qvs8ao') format('woff'),
  url('../assets/fonts/labs-home.ttf?-qvs8ao') format('truetype'),
  url('../assets/fonts/labs-home.svg?-qvs8ao#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class^="labs-icon-"], [class*=" labs-icon-"] {
  font-family: 'labs-home';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.labs-icon-configuration:before, .icon-config:before {
  font-family: 'labs-home';
  content: "\e5f9";
  color: #3f9c35;
}
.labs-icon-deployment:before, .icon-deploy:before {
  font-family: 'labs-home';
  content: "\e601";
  color: #0085cf;
}
.labs-icon-troubleshooting:before, .icon-troubleshoot:before {
  font-family: 'labs-home';
  content: "\e602";
  color: #ec7a08;
}
.labs-icon-security:before, .icon-security:before {
  font-family: 'labs-home';
  content: "\e603";
  color: #cc0000;
}

