.actions
  label.checkbox-inline
    input.featured(type='checkbox', data-lab_id=lab.lab_id, checked=lab.featured)
    | Featured
  label.checkbox-inline
    input.mostviewed(type='checkbox', data-lab_id=lab.lab_id checked=lab.mostViewed)
    | Most Viewed
