extends layout

block content
  .band.band-hero.band-hero-cover.band-hero-top(style='background-image: url(http://www.redhat.com/profiles/rh/themes/redhatdotcom/img/header/header-story-tech-industries-2000x1357.jpg);')
    .container
      .hero
        p.headline.headline-white Labs
        p.strapline.strapline-white To help you use Red Hat products to their full potential, our engineers have developed a set of tools within Red Hat Access Labs to support customer success. 
              | Red Hat Access Labs is built on 
              a(href='https://access.redhat.com/products/openshift-enterprise-red-hat/') OpenShift Enterprise
              |, enabling continuous delivery and continuous innovation.
        p.strapline.strapline-white We invite you to try these tools and tell us what you think. As our customer community collaborates and offers feedback, 
          | these applications will grow and change quickly. Get started here with the featured labs below!
  .band.band-hero.band-hero-cover.band-hero-top.inverse.labs(style='background-image: url(http://www.redhat.com/profiles/rh/themes/redhatdotcom/img/bkgd/bkgd-ltc-wispy_sky_2-2000x680.jpg);')
    .container
      .hero
        if featured.length
          h2.section-title.section-title-red Featured Apps
          .row
            each lab in featured
              include _lab.jade
  .band.labs
    .container
      .hero
        if featured.length
          h2.section-title.section-title-red Most Viewed Apps
          .row
            each lab in featured
              include _lab.jade
  .band.band-hero.band-hero-cover.band-hero-top.inverse.labs(style='background-image: url(http://www.redhat.com/cms/public/Open_Hybrid_Cloud.jpg);')
    .container
      .hero
        if labs.length
          h2.section-title.section-title-red All Apps
          .row
            each lab in labs
              include _lab.jade
  .btn.btn-primary.btn-admin
    | SAVE
