extends layout

block content
  .band.band-hero.band-hero-cover.band-hero-top(style='background-image: url(/labs/labs/img/bg_labs.jpg);')
    .container
      .hero
        p.headline.headline-white Labs
        p.strapline.strapline-white To help you use Red Hat products to their full potential, our engineers have developed a set of tools within Red Hat Access Labs to support customer success. 
              | Red Hat Access Labs is built on 
              a(href='https://access.redhat.com/products/openshift-enterprise-red-hat/') OpenShift Enterprise
              |, enabling continuous delivery and continuous innovation.
        p.strapline.strapline-white We invite you to try these tools and tell us what you think. As our customer community collaborates and offers feedback, 
          | these applications will grow and change quickly. Get started here with the featured labs below!
  if featured.length
    .band.band-hero.band-hero-cover.band-hero-top.inverse.labs(style='background-image: url(/labs/labs/img/bg_sky.jpg);')
      .container
        .hero
          h2.section-title.section-title-red Featured Apps
          .row
            each lab in featured
              include _lab.jade
  if mostViewed.length
    .band.labs
      .container
        .hero
          h2.section-title.section-title-red Most Viewed Apps
          .row
            each lab in mostViewed
              include _lab.jade
  .band.band-hero.band-hero-cover.band-hero-top.inverse.labs.all-labs(style='background-image: url(/labs/labs/img/bg_featured.jpg);')
    .container
      .hero
        .btn-group.pull-right.labs-filter
          button.btn.btn-default.btn-sm(type='button', data-type='diagnostics') D
          button.btn.btn-default.btn-sm(type='button', data-type='performance') P
          button.btn.btn-default.btn-sm(type='button', data-type='security') S
        h2.section-title.section-title-red All Apps
        .row
          each lab in labs
            include _lab.jade
  if isAdmin
    .btn.btn-primary.btn-admin
      | SAVE
